.container {
	width: 600px;
	margin-top: 50px;
}
#heading {
	font-size: 25px;
}
.category {
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	border-right: 1px solid silver;
	cursor: pointer;
}
.category:last-child{
	border-right: none;
}

.field {
	border: 1px solid silver;
	text-align: center;
	height: 150px;
	line-height: 150px;
	font-size: 20px;
	cursor: pointer;
}
.field:hover {
	background-color: #333;
	font-weight: bold;
	font-size: 30px;
}
.panel-heading,.panel-footer {
	text-align: center;
}
.panel-body {
	padding-top: 0px;
	padding-bottom: 0px;

}